### Deliverable 1: Preprocessing the Data for a Neural Network

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME", "SPECIAL_CONSIDERATIONS"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [6]:
# Generate our categorical variable lists
application_cat = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT"]

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\liaha\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(labels=application_cat, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 58
hidden_nodes_layer2 = 17

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6670

 dense_1 (Dense)             (None, 17)                1003

 dense_2 (Dense)             (None, 1)                 18

=================================================================
Total params: 7,691
Trainable params: 7,691
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=5)

Epoch 1/5
804/804 [==============================] - 2s 1ms/step - loss: 16130.5215 - accuracy: 0.4908
Epoch 2/5
804/804 [==============================] - 1s 1ms/step - loss: 8243.5332 - accuracy: 0.4976
Epoch 3/5
804/804 [==============================] - 1s 1ms/step - loss: 63356.8984 - accuracy: 0.4981
Epoch 4/5
804/804 [==============================] - 2s 2ms/step - loss: 26118.0977 - accuracy: 0.4984
Epoch 5/5
804/804 [==============================] - 2s 2ms/step - loss: 7794.4941 - accuracy: 0.5080

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.2493 - accuracy: 0.6429 - 414ms/epoch - 2ms/step
Loss: 1.2493122816085815, Accuracy: 0.6429154276847839

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 58
hidden_nodes_layer2 = 15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6670

 dense_4 (Dense)             (None, 15)                885

 dense_5 (Dense)             (None, 1)                 16

=================================================================
Total params: 7,571
Trainable params: 7,571
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=5)

Epoch 1/5
804/804 [==============================] - 2s 1ms/step - loss: 314.8266 - accuracy: 0.5292
Epoch 2/5
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 3/5
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 4/5
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 5/5
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5336

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6958 - accuracy: 0.5534 - 377ms/epoch - 1ms/step
Loss: 0.6958103179931641, Accuracy: 0.5533527731895447

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 58
hidden_nodes_layer2 = 12
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 58)                6670

 dense_13 (Dense)            (None, 12)                708

 dense_14 (Dense)            (None, 10)                130

 dense_15 (Dense)            (None, 1)                 11

=================================================================
Total params: 7,519
Trainable params: 7,519
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=30)

Epoch 1/30
804/804 [==============================] - 2s 2ms/step - loss: 8132.3271 - accuracy: 0.4881
Epoch 2/30
804/804 [==============================] - 1s 2ms/step - loss: 5795.8213 - accuracy: 0.5023
Epoch 3/30
804/804 [==============================] - 2s 3ms/step - loss: 179.5067 - accuracy: 0.5173
Epoch 4/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6932 - accuracy: 0.5336
Epoch 5/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5336
Epoch 6/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 7/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 8/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 9/30
804/804 [==============================] - 3s 3ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 10/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 11/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 12/30
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 13/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 14/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 15/30
804/804 [==============================] - 3s 3ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 16/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 17/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 18/30
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 19/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 20/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 21/30
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 22/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 23/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 24/30
804/804 [==============================] - 3s 3ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 25/30
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 26/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 27/30
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 28/30
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5336
Epoch 29/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5336
Epoch 30/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5336

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7007 - accuracy: 0.5223 - 910ms/epoch - 3ms/step
Loss: 0.7006535530090332, Accuracy: 0.5223323702812195

In [30]:
nn.save("AlphabetSoupCharity_Optimization.h5")